.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 25px;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.comments {
  overflow: auto;
  width: 75%;
  max-width: 1000px;
  min-width: 600px;
}

.comments h2 {
  font-weight: 300px;
}

.singleComment {
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
}

.singleCommentContent {
  min-width: 100px;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  display: inline-flex;
}

.userImage {
  height: 55px;
  margin-right: 15px;
  border-radius: 50%;
}

.topicBox {
  background-color: #84d6ed;
  color: white;
  padding: 2rem 2rem;
}

.viewpoint {
  font-weight: bold;
  color: grey;
}

.singleCommentContent h3 {
  margin: 0;
  padding-right: 5px;
  font-size: 17px;
  color: #385997;
}

.singleCommentContent p {
  font-size: 17px;
  padding-left: 3px;
  margin: 0;
}

.singleCommentButtons {
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
}

.singleCommentButtons > div:first-child {
  display: flex;
}

.singleCommentButtons > div:last-child {
  display: flex;
  margin-left: 1rem;
}

.toxicityWords {
  font-size: 15px;
  font-weight: bold;
  color: #00AEEF;
}


.blueColor {

}

.redColor {

}

.time {
  font-size:15px;
  padding-left: 5px;
  padding-right: 5px;
  color: #999;
}

.singleCommentButtons a {
  margin: 0px 3px;;
  cursor: pointer;
  font-size: 15px;
  color: #385997;
  letter-spacing: 0.05em;
}

.form {
  width: 70%;
  min-width: 500px;
  max-width: 1000px;
}

.form form {
  display: flex;
  padding: 15px 0;
}


.form input {
  height: 40px;
  padding-left: 20px;
  border: 1px solid #c1c1c1;
  margin-right: 10px;
  border-radius: 20px;
  flex: 3;
  font-size: 15px;
}

.form input:first-child {
  flex: 1;
}

.form button {
  color: #999;
  border-radius: 5px;
  border: 1px solid #999;
  width: 80px;
  font-size: 15px;
}

/* .form input[type="text"] {
  font-size: 15px;
  color: peru;
} */

.form button:hover {
  cursor: pointer;
  color: #385997;
  border-color: #385997;
}
